.slice {
  height: 100%;
  padding: 48px 0;
}

.sectionHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 32px;
}

.claimTokensBtn {
  background-color: var(--color-primary);
}

/* Tablets */
@media (max-width: 68.75rem) {
  .sectionHeader {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
}
